from flask import Flask, jsonify, request
import os
import requests

app = Flask(__name__)

YOUTUBE_API_KEY = os.environ.get('AIzaSyB4Qpb290myTTiq2NPa03Jwhen87XGkp6w')  # Assuming the API key is stored in an environment variable

@app.route('/your-server-endpoint')
def get_video_info():
    video_id = request.args.get('videoId')
    url = f"https://www.googleapis.com/youtube/v3/videos?id={video_id}&key={YOUTUBE_API_KEY}&part=snippet"
    response = requests.get(url)
    data = response.json()
    return jsonify(data)

if __name__ == '__main__':
    app.run()
